.cross-button {
  background-color: aqua;
  display: flex;
  align-self: stretch;
  align-items: center;
  width: 1.5rem;
  justify-content: center;
  border-radius: 3px;
  cursor: pointer;
}

.hidden {
  display: none;
}